/*Обнуление стилей*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
о
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


/* 
	Font for the team text: 
 	font-family: 'Roboto', sans-serif; 
*/ 

body {
	font-family: 'Roboto Condensed', sans-serif;
	color: #3d3d3d;
}

.header {
	background: url('../img/header-bg.jpg') no-repeat;
	background-size: auto;
	color: #fff;
	padding-bottom: 90px;

	background-color: rgba(0,0,0,.6);
	background-blend-mode: darken;
}

.header a {
	color: #fff;
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
	/*border-bottom: 1px solid #878787;*/
}

.hr__header {
	background-color: #878787;
	width: 100%;
	height: 1px;
}


.container {
	max-width: 1500px;
	margin: 0 auto;
}

.nav {
	font-size: 14px;
	color: #fff;
	line-height: 16.41px;
	text-align: center;
	text-transform: uppercase;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	min-width: 338px;
}

.header__tel {
	font-weight: 700;
}

.header__tel-ico {
	position: relative;
	bottom: 3px;
	padding-right: 5px;
}

.header__text {
	margin-top: 165px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 172px;
}

.header__title {
	font-weight: 300;
	font-size: 140px;
	line-height: 164.06px;
	margin-bottom: 10px;
}

.header__subtitle {
	font-size: 20px;
	line-height: 27px;
	font-weight: 300;
}

.header__arrow {
	text-align: center;
}

.our-team {
	padding: 36px;
}

.our-team__arrow {
	margin-bottom: 84px;
}

.our-team__arrow i {
	display: block;
	font-size: 12px;
	padding: 8px 9px;
	max-width: 30px;
	max-height: 30px;
	margin-left: auto;
	border: 1px solid #D5D5D5;
}

.our-team__advantages {
	flex-basis: 513px;
}

.our-team__title {
	font-size: 40px;
	font-weight: 300;
	line-height: 47px;
	margin-bottom: 50px;
	color: #535353;
}

.our-team__inner {
	display: flex;
	justify-content: space-between;
}

.our-team__subtitle {
	color: #777777;
	margin-bottom: 50px;
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
}

.our-team__list {
	border-top: 1px solid #D5D5D5;
	text-transform: uppercase;
}

.our-team__list-item {
	padding: 27px 0;
	border-bottom: 1px solid #D5D5D5;
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
	letter-spacing: 0.12em;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list--icon {
	margin-left: auto;
	font-size: 50px;
}

.adv-ico {
	border: 1px solid #D5D5D5;
	border-radius: 50%;
	padding: 10px;
}
